* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    overflow-x: hidden;
}

.page {
    width: 100vw;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    align-items: flex-start; /* Để ảnh bắt đầu từ đỉnh */
    padding-top: 20px;
}

img {
    width: 90%;
    margin: 0 auto;
    aspect-ratio: 16 / 9; /* Tự động tính toán chiều cao để không bị cắt */
    object-fit: cover;
    border-radius: 20px;
}
